* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*PAGINA 1*/

.container-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto;
    padding: 0 15px;
    height: 100%; 
}
#logo {
    color: #fff;
    display: flex; 
    align-items: center; 
}
#titulo-header {
    text-align: left; 
    color: #FFFFFF; 
    margin-left: 15px;
}
.titulo-principal {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
header nav{
    display: flex;       
    align-items: center;
    gap: 20px;
}
.boton-aula {
   background-color: #fff;      
    color: #5a0024;              
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    transition: 0.3s;
    border: 2px solid transparent;
    margin-top: -2px; 
    display: inline-block; 
    vertical-align: middle;
}

.boton-aula:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;     
}
header nav ul{
    list-style: none;
}
header nav a{
    text-decoration: none;
    padding: 20px;
}
header nav ul li{
    float: left;
}
.subtitulo-universidad {
    color: #fff;
    font-size: 1em; 
    margin: 0;
    font-weight: 300;
}
#facultadimagen a{
    border-radius: 10%;
    background-color: #5a0024;
   width: 150px;
   height: auto;
}
header{
    width: 100%;
    height: 116px;
    background-color:#5a0024; 
    padding: 1rem 0;
    text-align: center;
}
a{
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}
#logoobstetricia{
    width: 100px;
    height: 100px;
    margin-top: -7px;
    float: left;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6 ;
}
#facultadimagen {
    background-image: url(https://i.imgur.com/v9ld7MX.jpeg);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    background-size: cover;       
    background-position: center;  
    height: 600px;                
    display: flex;                
    flex-direction: column;       
    align-items: center;         
    justify-content: center;      
    text-align: center;           
    padding: 0 20px;             
}
#bannerinferior {
    margin-top: 100px;    
    margin-bottom: 100px; 
    background-color: #5a0024;
    color: #fff;
    text-align: center;
    padding-top: 50px;    
    padding-bottom: 70px; 
    padding-left: 10%;    
    padding-right: 10%;
}

#bannerinferior h2 {
    margin-bottom: 15px; 
    font-size: 2rem;
    color: #fff;         
}

#bannerinferior p {
    margin: 0;           
    font-size: 1.2rem;
    line-height: 1.6;    
}
#autoridades, #plandeestudios, #redessociales {
    margin-top: 100px;
    border-radius: 10%;
    background-color:#c893a5;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.cajasinicio {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    margin: 40px auto; 
}
.cajasinicio section {
    flex-basis: 33.33%; 
    flex-grow: 1; 
    flex-shrink: 1;
}
header h1 {
    font-weight: 300; 
    margin-bottom: 5px;
}

.container {
    max-width: 1400px; 
    margin: 0 auto;    
    padding: 0 15px;  
}

h2 {
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.piedepaginacontenedor {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 15px; 
    gap: 60px; 
}
footer p {
    text-align: left;
    font-size: 0.95rem;
    margin-bottom: 10px;
}
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a:hover {
    text-decoration: underline; 
}
.logopie {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    gap: 15px; 
    margin-bottom: 15px;
}

footer section {
    flex: 1; 
    padding: 0; 
}
#piedepagina h2 {
    font-size: 1.2rem;
    margin: 0; 
    text-align: left;
}

#piedepagina p {
    text-align: left;
    font-size: 0.9rem;
}
#logofooter {
    width: 60px; 
    height: auto;
}
#siguenos .facebook {
    display: flex;         
    flex-direction: row;   
    align-items: center;   
    gap: 15px;             
    text-decoration: none;
    color: white;
    font-size: 1.5rem;    
}

#siguenos .facebookimg {
    width: 35px;          
    height: auto;
    display: block;     
}
#siguenos h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}
footer {
    height: 390px;
    background-color: #5a0024;
    color: white;
    padding: 60px 0; 
    width: 100%;
    margin-top: 0; 
}

/* PAGINA 2*/

.contenedor-facultad {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fila-mision-vision {
    display: flex;
    gap: 100px;
    width: 100%;
}
#mision2, #vision2 {
    flex: 1; 
    background-color: #c893a5;
    border-radius: 50px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
#resenas2 {
    background-color: #c893a5;
    border-radius: 50px;
    padding: 40px;
    width: 100%; 
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
#mision2 h2, #vision2 h2, #resenas2 h2,
#mision2 p, #vision2 p, #resenas2 p {
    color: white;
}
#imagenes2 {
    width: 100%;
    display: flex;          
    justify-content: center; 
    margin-top: 30px;       
    margin-bottom: 20px;    
}

#imagenes2 img {
    max-width: 90%;         
    height: auto;           
    border-radius: 15px;   
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}
.link-cv {
    text-decoration: none; 
    color: #5a0024;       
    transition: 0.3s;
}

.link-cv:hover {
    color: #c893a5;      
    text-decoration: underline; 
}
#autoridades2 {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.titulo-seccion-autoridades {
    text-align: center;
    color: #5a0024; 
    margin-bottom: 30px;
    font-size: 2rem;
}
.tarjeta-autoridad {
    display: flex;       
    align-items: center; 
    background-color: #f9f9f9;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.foto-autoridad img {
    width: 150px;         
    height: 150px;
    border-radius: 50%;    
    object-fit: cover;     
    margin-right: 30px;  
    border: 3px solid #c893a5;
}

.info-autoridad h3 {
    color: #5a0024;
    margin-bottom: 5px;
}

.cargo {
    font-weight: bold;
    color: #c893a5;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.descripcion {
    color: #555;
    line-height: 1.5;
}
/* PAGINA 3 */

#imagenes-carrera {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

#imagenes-carrera img {
    width: 90%;
    max-width: 1100px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

#perfil-carrera {
    background-color: #c893a5;
    color: white;
    padding: 35px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 40px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* ESTILO DE CUADROS DESPLEGABLES */
.malla-curricular {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

.ciclo-desplegable {
    background-color: #5a0024; 
    border: none;          
    border-radius: 12px;
    transition: 0.3s;
    margin-bottom: 10px;  
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);   
    overflow: hidden;
}

.ciclo-desplegable summary {
    padding: 18px 25px;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    color: white;            
    display: flex;
    justify-content: space-between;
}

.ciclo-desplegable summary:hover {
   background-color: #7a0031; 
}

.contenido-ciclo {
    padding: 20px 40px;
    background-color: #fff;  
    color: #333;
}

.contenido-ciclo ul li {
    margin-bottom: 10px;
    color: #444;
}

.ciclo-desplegable[open] summary {
   background-color: #5a0024; 
    border-bottom: 1px solid rgba(255,255,255,0.2); 
}
.fila-perfiles {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.cuadro-perfil {
    flex: 1;
    background-color: #c893a5;
    color: white;
    padding: 30px;
    border-radius: 50px;
    text-align: center;
}

.cuadro-perfil p {
    line-height: 1.6;    
    text-align: justify; 
    font-size: 0.95rem;  
    margin-top: 15px;
}
#investigacion-carrera, #practicas-convenios {
    background-color: #c893a5;
    color: white;
    padding: 40px 50px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#practicas-convenios {
    background-color: #c893a5;
    color: white;
    padding: 40px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px; /* Reducido de 20px a 10px */
    width: 100%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#practicas-convenios ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

#practicas-convenios li {
    background: rgba(255, 255, 255, 0.2);
    margin: 5px auto;
    padding: 8px;
    border-radius: 10px;
    max-width: 500px;
}
#investigacion-carrera p {
    line-height: 1.7;   
    text-align: justify; 
    max-width: 900px;   
    margin: 0 auto;     
}
/*PAGINA 4*/

.contacto {
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #000;
}
.contacto h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 60px;
    letter-spacing: 1px;
}
.contacto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px 60px;
}
.titulo-icono, 
.ubicacion-title {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    grid-column: 1; 
}


.ubicacion-title {
    grid-column: 1 / -1; 
    margin-top: 40px;
    text-transform: uppercase;
}
.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}

.item img {
    width: 45px; 
    height: auto;
    margin-right: 20px;
}

.item h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.item p {
    font-size: 14px;
    line-height: 1.5;
    color: #444;
    margin: 0;
}
.redes {
    text-align: center;
    margin-top: 10px;
}

.redes p {
    font-style: italic;
    font-size: 17px;
    margin-bottom: 15px;
}

.facebookimg {
    width: 60px; /* Tamaño del logo de FB */
    transition: transform 0.3s ease;
}

.facebookimg:hover {
    transform: scale(1.1);
}
iframe {
    grid-column: 1 / -1; /* Hace que el mapa ocupe todo el ancho */
    width: 100%;
    height: 350px;
    border-radius: 4px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1); /* Sombra suave como en la imagen */
}